<h2 class="text-xl text-right text-cyan-700 font-bold">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "flex flex-col"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.label :email, class: "font-bold text-cyan-900 mx-2 mt-4 text-lg" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-md border border-cyan-700 text-cyan-900" %>
  
    <%= f.label :name, class: "font-bold text-cyan-900 mx-2 mt-4 text-lg" %><br />
    <%= f.text_field :name, class: "rounded-md border border-cyan-700 text-cyan-900" %>
  
    <%= f.label :password, class: "font-bold text-cyan-900 mx-2 mt-4 text-lg" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "rounded-md border border-cyan-700 text-cyan-900" %>
  
    <%= f.label :password_confirmation, class: "font-bold text-cyan-900 mx-2 mt-4 text-lg" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded-md border border-cyan-700 text-cyan-900" %>

    <%= f.submit "Sign up", class: "border border-zinc-300 p-2 bg-cyan-700 my-4 text-zinc-100 font-bold rounded-md" %>
  
<% end %>

<%= render "devise/shared/links" %>
