<div>
  <img src="<%= @user.photo %>"/>
  <div>
    <h2><%= link_to @user.name, @user %></h2>
    <p>Number of Posts:
      <%= @user.posts.count %></p>
  </div>
</div>
<p>
  <%= @user.bio %>
</p>
<% @user.most_recent_posts.each do |post| %>
  <div>
    <h2><%= link_to post.title, [@user, post] %></h2>
    <p><%= post.text %></p>
  </div>
<% end %>
<%= link_to 'See all posts', user_posts_path(@user) %>
